<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png" href="../images/oru-16x16.png" sizes="16x16">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Företags profil</title>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="./stylesheets/StudentPStyle.css">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
	    crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="./scripts/profile.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	


	<link rel="stylesheet" type="text/css" href="./stylesheets/chat.css" >
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="./scripts/chat.js"></script>
</head>

<body>
	<div class="header">
		<div class="logo">
			<img src="images/oru-16x16.png">
			<span>Webslingers</span>
		</div>
		<a href="#" class="nav-trigger">
			<span></span>
		</a>
	</div>
	<div class="side-nav">
		<div class="logo">
			<img src="images/oru-16x16.png">
			<span>Webslingers</span>
		</div>
		<nav>
			<ul class="tabs">
				<li class="tabBorder" onclick="openTab('Frontpage', 'Home')" id="Home" style="border-Left: 5px solid #2e78ba" ;>
					<a>
						<span>
							<i class="fas fa-home"></i>
						</span>
						<span>Home</span>
					</a>
				</li>
				<li class="tabBorder" onclick="openTab('profile', 'Open')" id="Open" ;>
					<a>
						<span>
							<i class="fa fa-user"></i>
						</span>
						<span>Profile</span>
					</a>
				</li>
				<li class="tabBorder" onclick="openTab('likes', 'Messages')" id="Messages">
					<a>
						<span>
							<i class="fa fa-envelope"></i>
						</span>
						<span>Messages</span>
					</a>
				</li>
				<li class="tabBorder" onclick="openTab('Jobs', 'Job')" id="Job">
					<a>
						<span>
							<i class="fas fa-folder"></i>
						</span>
						<span>Ex-Job</span>
					</a>
				</li>
				<li>
					<a>
						<span>
							<i class="fa fa-credit-card-alt"></i>
						</span>
						<span>Manual</span>
					</a>
				</li>
				<li>
					<a href="/logout">
						<span>
							<i class="fas fa-sign-out-alt"></i>
						</span>
						<span>Sign out</span>
					</a>
				</li>
				<img src="./images/oru.png" class="si">
			</ul>
		</nav>
	</div>
	<div class="main-content" id="Frontpage">
			<%- messages('message', locals) %>
		<div class="main2" id="HomeID">
			<div class="font2">
				<div class="StudentDiv2">
					<h1 id="HomeH1">Välkommen
						<em>
							<%= get_company_user_and_nr[0].UID %>
						</em>!
						<br/> Till din företagsida </h1>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content" id="profile" style="display:none">
		<div class="main2">
			<div class="font2">
				<div class="StudentDiv2">
					<h1>Ändra Personuppgifter</h1>
					<form action="/change_company_profile" method="POST">
						<div class="container"> <!--change personal info-->
							<input type="username" name="text" id="button2" disabled value= < %=r esults[0].UID %>>
							<br />
							<br/>
							<input type="text" name="text" id="button2" disabled value= < %=r esults[0].Orgnr %>>
							<br />
							<br/>
							<input type="text" name="password" id="password" maxlength="30" required placeholder="Enter Password..." autocomplete="on">
							<br />
							<br/>
							<input type="text" name="name" id="button2" maxlength="45" required placeholder="Enter Name..." autocomplete="on">
							<br />
							<br/>
							<input type="text" name="address" id="button2" maxlength="45" required placeholder="Enter address..." autocomplete="on">
							<br />
							<br/>
							<input type="text" name="tel" id="button2" maxlength="45" required placeholder="Enter Phonenumber..." autocomplete="on">
							<br />
							<br/>
						</div>
						<Button type="submit" id="butt">Update changes</Button>
					</form>
					<!--<img src="images/oru.png" style="max-width:50%;height:auto;"> -->
				</div>
			</div>
		</div>
	</div>
	<div class="main-content" id="likes" style="display:none">
		<h2>Chat</h2>
		<section> <!--change username-->
			<div id="change_username">
				<input id="username" type="text" />
				<button id="send_username" type="button">Change username</button>
			</div>
		</section>

		<section id="chatroom">
			<section id="feedback"></section>
		</section>

		<section id="input_zone"> 
			<input id="message" class="vertical-align" type="text" />
			<button id="send_message" class="vertical-align" type="button">Send</button>
		</section>
	</div>
	<div class="main-content" id="Jobs" style="display:none">
		<div class="main">
			<div class="widget" id="JobsWidget">
				<h1>Your jobs:</h1>
				<button class="modalbtn" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add job</button>
				<div id="id01" class="modal">
					<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
					<form class="modal-content" method="POST" action="add_job">
						<div class="container">
							<div class="w3-container">
								<h2>Add job</h2>
							</div>
							<hr>
							<form class="w3-container">
								<p>
									<label><strong>Title</strong></label>
									<input id="Job-title" class="w3-input" type="text" name="title" required>
								</p>
								<p>
									<label><strong>Job info</strong></label>
									<input id="Job-info" class="w3-input" type="text" name="info" required>
								</p>
							</form>
							<div class="clearfix">
								<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
								<button class="updatebtn" id="addjob" type="submit">Add Job</button>
							</div>
						</div>
					</form>
				</div>
				<div id="id02" class="modal">
						<span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
						<form class="modal-content" action="update_job" method="POST">
							<div class="container">
								<div class="w3-container">
									<h2>Update job</h2>
								</div>
								<hr>
								<form class="w3-container">
									<p>
										<label><strong>Title</strong></label>
										<input class="w3-input" type="text" name="name">
									</p>
									<p>
										<label><strong>Job info</strong></label>
										<input class="w3-input" type="text" name="info">
									</p>

									<input hidden name="job_id" value= >

								</form>
								<div class="clearfix">
									<button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
									<button type="submit" class="updatebtn">Save changes</button>
								</div>
							</div>
						</form>
					</div>
				<ul class="Job-list" id="job_list">
					<% get_exjobs.forEach(function(result) { %>
						<li> 
							<h4><%= result.Name %></h4>
							<p><%= result.Info %></p>
							<button class="changebtn"  style="width:auto;" onclick="document.getElementById('id02').style.display='block'">Change</button>
							<form action="delete_job" method="POST">
								<input hidden name="job_id" value= <%= result.ID %>></input>
								<button type="submit" class="removebtn">Remove</button>
							</form>
						</li>
					<% }); %>
				</ul>
			</div>
		</div>
	</div>
	</div>
</body>

</html>