<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png" href="../images/oru-16x16.png" sizes="16x16">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Företags profil</title>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="./stylesheets/StudentPStyle.css">
	<link rel="stylesheet" href="./stylesheets/HelpProfile.css">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
	    crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="./scripts/profile.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	    crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	    crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	    crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	    crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="./stylesheets/chat.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="./scripts/chat.js"></script>
</head>

<body>
	<div class="header">
		<div class="logo">
			<img src="images/oru-16x16.png">
			<span>Webslingers</span>
		</div>
		<a href="#" class="nav-trigger">
			<span></span>
		</a>
	</div>
	<div class="side-nav">
		<div class="logo">
			<img src="images/oru-16x16.png">
			<span>Webslingers</span>
		</div>
		<nav>
			<!-- The tab menu -->
			<ul class="tabs">
				<li class="tabBorder" onclick="openTab('profile', 'Open')" id="Open" style="border-Left: 5px solid #2e78ba" ;>
					<a>
						<span>
							<i class="fa fa-user" id="SideIcon"></i>
						</span>
						<span>Profil</span>
					</a>
				</li>

				<li class="tabBorder" onclick="openTab('Helps', 'Help')" id="Help">
					<a>
						<span>
							<i class="fa fa-credit-card-alt" id="SideIcon"></i>
						</span>
						<span id="BlackT">Hjälp</span>
					</a>
				</li>
				<li>
					<a href="/logout">
						<span>
							<i class="fas fa-sign-out-alt" id="SideIcon"></i>
						</span>
						<span>Logga ut</span>
					</a>
				</li>
				<img src="./images/oru.png" class="si">
			</ul>
		</nav>
	</div>

	<!-- Profile -->
	<div class="main-content" id="profile">
		<div class="main2" id="main2Profile" style="margin-right:0;">

			<body id="blueb">
				<!-- Page Container -->
				<div class="w3-content w3-margin-top" style="max-width: 1400px;">

					<!-- The Grid -->
					<div class="w3-row-padding" style="width: 100%;">

						<!-- Left Column -->
						<div class="w3-third">

							<div class="w3-white w3-text-grey w3-card-4">
								<div class="w3-display-container">
									<img src="./images/logo.png" style="width:50%;" alt="Avatar">
									<div class="w3-display-bottomleft w3-container w3-text-black">

									</div>
									<h2 style="font-size: 1.5rem;">
										<%= get_company_user_and_nr[0].Name %>
									</h2>
								</div>
								<!-- Person information box -->
								<div class="w3-container" style="text-align: left;">
									<i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text" id="blueP"></i>
									<%= get_company_user_and_nr[0].UID %>
										</p>
										<p>
											<i class="fas fa-home fa-fw w3-margin-right w3-large w3-text" id="blueP"></i>
											<%= get_company_user_and_nr[0].Adress %>
										</p>
										<p>
											<i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text" id="blueP"></i>
											<%= get_company_user_and_nr[0].Tel %>
										</p>
										<p>
											<i class="fa fa-calendar fa-fw w3-margin-right w3-large w3-text" id="blueP"></i>
											<%= get_company_user_and_nr[0].Orgnr %>
										</p>
										<hr>
										<button type="button" class="Editbtn" data-toggle="modal" data-target="#ProfileModal">
											<strong>Redigera</strong>
										</button>
										<hr>
								</div>
							</div>
							<br>
							<!-- End Left Column -->
						</div>
						<!-- Right Column -->
						<div class="w3-twothird">
							<!-- Ex-jobs -->
							<div class="w3-container w3-card w3-white w3-margin-bottom" style="size:fixed">
								<h2 class="w3-text-grey w3-padding-16">
									<i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text " id="blueP"></i>Dina job</h2>
								<div class="w3-container">
									<button class="modalbtn" onclick="document.getElementById('id01').style.display='block'" style="width:100%;" margin="auto">Lägg till</button>
									<div id="id01" class="modal">

										<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal" style="color: white;">&times;</span>
										<form class="modal-content" method="POST" action="add_job" style="width:90%; margin:auto;">
											<div class="container">
												<div class="w3-container">
													<h2>Lägg till</h2>

												</div>
												<hr>
												<form class="w3-container">
													<p>
														<label>
															<strong>Datum</strong>
														</label>
														<input id="Job-title" class="w3-input" type="text" name="date" required>
													</p>
													<p>
														<label>
															<strong>Titel</strong>
														</label>
														<input id="Job-title" class="w3-input" type="text" name="title" required>
													</p>
													<p>
														<label>
															<strong>Teaser</strong>
														</label>
														<input id="Job-title" class="w3-input" type="text" name="teaser" required>
													</p>
													<p>
														<label>
															<strong>Jobbinformation</strong>
														</label>
														<input id="Job-info" class="w3-input" type="text" name="info" required>
													</p>
												</form>
												<hr>
												<div class="clearfix">
													<button type="button" style="width: 50%; background-color: #ffff; border-color: #f44336; padding: 0; float: left;" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Avbryt</button>
													<button class="updatebtn" id="addjob" style="width: 50%; float: left;"type="submit">Spara</button>
												</div>
											</div>
										</form>
									</div>
									<ul class="Job-list" id="job_list">
										<% var temp = 0 %>
											<% get_exjobs.forEach(function(result) { %>
												<hr>
												<div class="dropdown">
													<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
													    aria-expanded="false" style="color: gray; background-color: #ffff; border: 0; float: right; font-size: 1.5rem;"></button>
													<div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="padding: 0;">
														<form action="/exjobMatch" method="POST">
															<input hidden id="exjob_id" name="job_id" value="<%= result.ID %>"></input>
															<button class="matchbtn">Match</button>
														</form>
														<button class="changebtn" onclick="openModal('<%= temp = temp + 1 %>')">Change</button>
														<form action="delete_job" method="POST">
															<input hidden name="job_id" value="<%= result.ID %>"></input>
															<button type="submit" class="removebtn">Remove</button>
														</form>
													</div>
												</div>
												<div class="w3-container">
													<h4 class="w3-opacity">
														<b>
															<%= result.Name %>
														</b>
													</h4>
													<h6 class="w3-text">
														<i class="fa fa-calendar fa-fw w3-margin-right " id="blueP"></i>
														<%= result.date %>
													</h6>
													<p>
														<%= result.teaser %>
													</p>
													<button class="collapsible" onclick="openCollapse()">Mer info</button>
													<div class="collapseContent">
														<h3>Jobbeskrivning</h3>
														<p>
															<%= result.Info %>
														</p>
														<hr>
														<h3>Kvalifikationer</h3>
														<button type="button" class="plusbutt" data-toggle="modal" data-target="#CompanyModalSkill">
															<strong>+</strong>
														</button>
														<ul>
															<% if(locals.quals) { %>
																<% quals.forEach(function(results) { %>
																	<% if(results.EID === result.ID) { %>
																		<li style="text-align: left; list-style-type: none; margin-left: 48px">
																			<%= results.QID %>
																		</li>
																		<% }; %>
																			<% }); %>
																				<% }; %>
														</ul>
														<hr>
														<div class="container">
															<div id="modalBG1">
															</div>
															<!-- The Modal -->
															<div class="modal fade" id="CompanyModalSkill">
																<div class="modal-dialog modal-dialog-centered">
																	<div class="modal-content">
																		<button type="button" class="close" data-dismiss="modal">&times;</button>
																		<!-- Modal Header -->
																		<div class="modal-header">

																			<h4 class="modal-title" style="margin: auto">Lägg till Kvalifikation</h4>
																		</div>
																		<!-- Modal body add student qual-->
																		<div class="modal-body">
																			<form action="/change_skill_xjob" method="POST">
																				<div class="container">
																					<select name="xjob_qual">
																						<% qual_list.forEach(function(result) { %>
																							<option value="<%= result.Qualification %>">
																								<%= result.Qualification %>
																							</option>
																							<% }); %>
																					</select>
																					<br/>
																					<input hidden id="exjob_id" name="job_id" value="<%= result.ID %>"></input>
																				</div>
																				<button type="submit" class="updatebtn" style="background-color: #ffff; border-color: #2e78ba; padding: 0; float: left;">Lägg till</button>
																			</form>

																		</div>

																		<!-- Modal footer -->
																		<div class="modal-footer">

																		</div>
																	</div>
																</div>
															</div>

														</div>
													</div>

													<div id="id02" class="modal test">
														<span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>

														<form class="modal-content" action="update_job" method="POST" style="width:90%; margin:auto;">
															<div class="container">
																<div class="w3-container">
																	<h2>Uppdatera job</h2>
																</div>

																<hr>
																<form class="w3-container">
																	<p>
																		<label>
																			<strong>Datum</strong>
																		</label>
																		<input class="w3-input" type="text" placeholder="Fyll i Datum" name="date" data-toggle="tooltip" title="ååmmdd" value="<%= exjobs[0].date %>">
																	</p>
																	<p>
																		<label>
																			<strong>Title</strong>
																		</label>
																		<input class="w3-input" type="text" name="name" placeholder="Fyll i namn" data-toogle="tooltip" title="Jobb titel" value="<%= exjobs[0].Name %>">
																	</p>
																	<p>
																		<label>
																			<strong>Teaser</strong>
																		</label>
																		<input class="w3-input" type="text" placeholder="Teaser" data-toogle title="Något intressant" name="teaser" value="<%= exjobs[0].teaser %>">
																	</p>
																	<p>
																		<label>
																			<strong>Jobb info</strong>
																		</label>
																		<input class="w3-input" placeholder="Info" type="text" name="info" data-toogle="Jobb beskrivning" title="Fyll i jobb beskrivning"
																		    value="<%= exjobs[0].Info %>">
																	</p>

																	<div class="clearfix">
																		<input hidden id="exjob_id" name="job_id" value="<%= result.ID %>"></input>

																		<button type="button" style="width: 50%; background-color: #ffff; border-color: #f44336; padding: 0; float: left;" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Avbryt</button>
																		<button class="updatebtn" id="addjob" style="width: 50%; float: left;"type="submit">Spara</button>
																	</div>
																</form>
															</div>
														</form>

													</div>
													<% }); %>
									</ul>
									<hr>
									<!-- End Ex-jobs -->
									</br>
									<!-- End Right Column -->
									</div>

									<!-- End Grid -->
								</div>

								<!-- End Page Container -->
							</div>
						</div>
					</div>

					<div class="container">
						<div id="modalBG"></div>
						<!-- The Modal -->
						<div class="modal fade" id="ProfileModal" style="padding: 0;">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<button type="button" class="close" data-dismiss="modal">&times;</button>

									<!-- Modal Header -->
									<div class="modal-header">
										<h4 class="modal-title" style="margin: auto">Redigera profil</h4>
									</div>

									<!-- Modal body -->
									<div class="modal-body">
										<form action="/change_company_profile" method="POST">
											<div class="container">
												<input type="text" name="username" id="button2" disabled value="<%= get_company_user_and_nr[0].UID %>">
												<input type="text" name="pnum" id="button2" disabled value="<%= get_company_user_and_nr[0].Orgnr %>">
												<input type="password" name="password" id="button2" maxlength="16" minlength="4" required placeholder="Lösenord..." data-toggle="tooltip"
												    title="Fyll i ditt lösenord 4-16 karaktärer">
												<input type="text" name="name" id="button2" maxlength="45" required placeholder="Företagsnamn..." data-toggle="tooltip" title="Fyll i företagsnamn">
												<input type="text" name="address" id="button2" maxlength="45" required placeholder="Adress..." data-toggle="tooltip" title="Fyll i postadress">
												<input type="text" name="tel" id="button2" maxlength="45" required placeholder="Telefonnummer..." data-toggle="tooltip" title="Fyll i företagstelefonnummer">
											</div>
											<button type="submit" class="updatebtn" style="background-color: #ffff; border-color: #2e78ba; padding: 0; float: left;">Uppdatera ändringar</button>
										</form>
									</div>

									<!-- Modal footer -->
									<div class="modal-footer">
									</div>
								</div>
							</div>
						</div>
					</div>
			</body>
			</div>
		</div>
		<!-- Help -->
		<div class="main-content" id="Helps" style="display:none">
			<div class="main">
				<div class="widget" id="JobsWidget">
					<div class="title">Help</div>
					<div class="HelpBox">
						<div class="helpRow">
							<div class="column" onclick="openHelptab('b1');" style="background-color:#1f5686;">
								Börja
							</div>
							<div class="column" onclick="openHelptab('b2');" style="background-color:#2e78ba;">
								Stickers
							</div>
							<div class="column" onclick="openHelptab('b3');" style="background-color:#40a4fc;">
								Chat
							</div>
							<div class="column" onclick="openHelptab('b4');" style="background-color:#65b5fc;">
								Övrigt
							</div>
							<!-- Kom igång -->
							<div id="b1" class="containerTab" style="display:none; background-color:#1f5686">
								<span onclick="this.parentElement.style.display='none'" class="closebtn"style="float: right; font-size: 1.5rem;">&times;</span>
								<h2>Redigera din profil</h2>
								<p>
									Under taben "Profil" finner du till vänster knappen "Edit", där klickar du för att redigera informationen på din profil.
									Du bör lägga till information i samtliga fält.
								</p>
								<hr>
							</div>
							<!-- Anonymitet -->
							<div id="b2" class="containerTab" style="display:none;background-color:#2e78ba">
								<span onclick="this.parentElement.style.display='none'" class="closebtn" style="float: right; font-size: 1.5rem;">&times;</span>
								<h2>Stickers</h2>
								<p>
									Under taben "Profil" finner du din profilinformation till vänster och "Arbetsstickers" till höger. Stickers är objekt av
									olika examensarbeten som ni erbjuder studenter.
								</p>
								<hr>
								<h2>Lägg till ett examensarbete</h2>
								<p>
									För att lägga till en ny sticker så klickar du på "Add job" och fyller i alla fält och klickar sedan "Add job" för att slutföra.
									Ni kan när som helst både ta bort och redigera ett befintligt examensarbete.
								</p>
								<hr>
								<h2>Ta bort ett examensarbete</h2>
								<p>
									Genom att klicka på knappen "Ta bort" på en befintlig sticker så kommer den att tas bort.
								</p>
								<hr>
								<h2>Uppdatera ett examensarbete</h2>
								<p>
									Genom att klicka på knappen "Uppdatera" på en befintlig sticker så kommer ett fönster med redigerbara knappar att dyka upp.
									Här fyller du i all information och klickar sedan på knappen "Uppdatera" för att uppdatera fälten i stickern.
								</p>
								<hr>
							</div>
							<!-- Chat -->
							<div id="b3" class="containerTab" style="display:none;background-color:#40a4fc">
								<span onclick="this.parentElement.style.display='none'" class="closebtn" style="float: right; font-size: 1.5rem;">&times;</span>
								<h2>Meddelanden</h2>
								<p>Kontakt med en matchad student sker under taben "Chat".</p>
								<hr>
							</div>
							<!-- Övrigt -->
							<div id="b4" class="containerTab" style="display:none;background-color:#65b5fc">
								<span onclick="this.parentElement.style.display='none'" class="closebtn" style="float: right; font-size: 1.5rem;">&times;</span>
								<h2>Övrigt</h2>
								<p>ha dfa df dfsdf adf adf adf af adf adf adf dfadff aadf adf ha dfa df dfsdf adf adf adf af adf adf adf dfadff aadf
									adf dsfsdf
								</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			let el = document.getElementsByClassName('test');
			let j = 0;

			for (let i = 0; i < el.length; i++) {
				j++
				el[i].id = j;
			}
		</script>
</body>