<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Student profile</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="../images/oru-16x16.png" sizes="16x16">
	<title>Responsive vertical menu navigation</title>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="./stylesheets/StudentPStyle.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/styleindex.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		html,
		body,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: "Roboto", sans-serif
		}
	</style>
	
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
	    crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="./scripts/StudentPScript.js"></script>
	<script src="../scripts/profile.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	

	

</head>

<body>
	<!-- Image at the top -->
	<div class="header">
		<div class="logo">
			<img src="images/oru-16x16.png">
			<span>Webslingers</span>
		</div>
		<a href="#" class="nav-trigger">
			<span></span>
		</a>
	</div>
	<!-- Image at bottom -->
	<div class="side-nav">
		<div class="logo">
			<img src="images/oru-16x16.png">
			<span>Webslingers</span>
		</div>
		<nav>
			<!-- All buttoms in the sidepanel -->
			<ul class="tabs">
				<li class="tabBorder" onclick="openTab('home', 'Open')" id="Open" style="border-Left: 5px solid #2e78ba" ;>
					<a>
						<span>
							<i class="fa fa-user"id="SideIcon"></i>
						</span>
						<span id="BlackT">Profile</span>
					</a>
				</li>
				<li class="tabBorder" onclick="openTab('likes', 'Messages')" id="Messages">
					<a>
						<span>
							<i class="fa fa-envelope"id="SideIcon"></i>
						</span>
						<span id="BlackT">Messages</span>
					</a>
				</li>
				<li class="tabBorder" onclick="openTab('Jobs', 'Job')" id="Job">
					<a>
						<span>
							<i class="fas fa-folder"id="SideIcon"></i>
						</span>
						<span id="BlackT">Ex-Job</span>
					</a>
				</li>
				<li  class="tabBorder" onclick="openTab('Help', 'Manual')" id="Manual">
					<a>
						<span>
							<i class="fa fa-credit-card-alt" id="SideIcon"></i>
						</span>
						<span id="BlackT">Manual</span>
					</a>
				</li>
				<li>
					<a href="/logout">
						<span>
							<i class="fas fa-sign-out-alt" id="SideIcon"></i>
						</span>
						<span id="BlackT">Sign out</span>
					</a>
				</li>
				<img src="./images/oru.png" class="si">
			</ul>
			<!-- End buttoms sidepanel -->
		</nav>
	</div>
	<div class="main-content" id="home">
		<div class="main2" id="main2Profile">
			<body id="blueb">
				<!-- Page Container -->
				<div class="w3-content w3-margin-top" style="max-width:1400px;">

					<!-- The Grid -->
					<div class="w3-row-padding">

						<!-- Left Column -->
						<div class="w3-third">

							<div class="w3-white w3-text-grey w3-card-4">
								<div class="w3-display-container">
									<img src="./images/Stefan-beskuren.jpg" style="width:100%" alt="Avatar">
									<div class="w3-display-bottomleft w3-container w3-text-black">

									</div>
									<h2> <%= results[0].Name %></h2>
								</div>
								<!-- Person information box -->
								<div class="w3-container">
									<p>
										<i class="fa fa-calendar fa-fw w3-margin-right w3-large w3-text" id="blueP"></i><%= results[0].pnr %>
									</p>
									<p>
										<i class="fa fa-user fa-fw w3-margin-right w3-large w3-text" id="blueP"></i><%= results[0].gender %></p>
									
									<p>
										<i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text" id="blueP"></i><%= results[0].UID %>
									</p>
									<p>
										<i class="fas fa-home fa-fw w3-margin-right w3-large w3-text" id="blueP"></i><%= results[0].Adress %>
									</p>
									<p>
										<i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text" id="blueP"></i><%= results[0].Tel %>
									</p>
									<hr>
									<button type="button" class="Editbtn"data-toggle="modal" data-target="#ProfileModal">
										<strong>Edit</strong>
									</button>
									<hr>
								
									<!-- Skills -->
									<p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text"></i>Skills</b></p>

									<div class="w3-light-grey w3-round-xlarge w3-small">
									  <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:90%">C++/C#</div>
									</div>
								<br>
									
									<div class="w3-light-grey w3-round-xlarge w3-small">
									  <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:60%">Java Script</div>
									</div>
								<br>
									<div class="w3-light-grey w3-round-xlarge w3-small">
									  <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:30%">Python</div>
									</div>
								<br>
									<hr>


								</div>
							</div>
							<br>

							<!-- End Left Column -->
						</div>
						

						<!-- Right Column -->
						<div class="w3-twothird">

							<div class="w3-container w3-card w3-white w3-margin-bottom">
								<h2 class="w3-text-grey w3-padding-16">
									<i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text "id="blueP"></i>Work Experience</h2>
								<div class="w3-container">
									<h5 class="w3-opacity">
										<b>Front End Developer / w3schools.com</b>
									</h5>
									<h6 class="w3-text">
										<i class="fa fa-calendar fa-fw w3-margin-right "id="blueP"></i>Jan 2015 -
										<span class="w3-tag w3-round">Current</span>
									</h6>
									<p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic.
										Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
									<hr>
								</div>
								<div class="w3-container">
									<h5 class="w3-opacity">
										<b>Web Developer / something.com</b>
									</h5>
									<h6 class="w3-text">
										<i class="fa fa-calendar fa-fw w3-margin-right "id="blueP"></i>Mar 2012 - Dec 2014</h6>
									<p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic.
										Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
									<hr>
								</div>
								<div class="w3-container">
									<h5 class="w3-opacity">
										<b>Graphic Designer / designsomething.com</b>
									</h5>
									<h6 class="w3-text">
										<i class="fa fa-calendar fa-fw w3-margin-right "id="blueP"></i>Jun 2010 - Mar 2012</h6>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
									<br>
								</div>
							</div>

							<div class="w3-container w3-card w3-white">
								<h2 class="w3-text-grey w3-padding-16">
									<i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text" id="blueP"></i>Education</h2>
								<div class="w3-container">
									<h5 class="w3-opacity">
										<b>W3Schools.com</b>
									</h5>
									<h6 class="w3-text">
										<i class="fa fa-calendar fa-fw w3-margin-right "id="blueP"></i>Forever</h6>
									<p>Web Development! All I need to know in one place</p>
									<hr>
								</div>
								<div class="w3-container">
									<h5 class="w3-opacity">
										<b>London Business School</b>
									</h5>
									<h6 class="w3-text">
										<i class="fa fa-calendar fa-fw w3-margin-right" id="blueP"></i>2013 - 2015</h6>
									<p>Master Degree</p>
									<hr>
								</div>
								<div class="w3-container">
									<h5 class="w3-opacity">
										<b>School of Coding</b>
									</h5>
									<h6 class="w3-text">
										<i class="fa fa-calendar fa-fw w3-margin-right" id="blueP"></i>2010 - 2013</h6>
									<p>Bachelor Degree</p>
									<br>
								</div>
							</div>

							<!-- End Right Column -->
						</div>

						<!-- End Grid -->
					</div>

					<!-- End Page Container -->
				</div>
<div class="container">
	<div id="modalBG">
	</div>
	<!-- The Modal -->
	<div class="modal fade" id="ProfileModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="button3" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Edit Profile</h4>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
						<form action="/change_student_profile" method="POST">
							<div class="container">
								<input type="text" name="username" id="uname" disabled value = <%= results[0].UID %>>
								<input type="text" name="pnum" id="pnum" disabled value = <%= results[0].pnr %>>
								<input type="password" name="password" id="pass" maxlength="30" required placeholder="Enter Password...">
								<input type="text" name="name" id="name" maxlength="45" required placeholder="Enter Name...">
								<input type="text" name="address" id="adress" maxlength="45" required placeholder="Enter address...">
								<input type="text" name="tel" id="tel" maxlength="45" required placeholder="Enter Phonenumber...">
								<select name="gender">
									<option value="Male">Male</option>
									<option value="Female">Female</option>
									<option value="Other">Other</option>
								</select>
								<br/>
							</div>
							<Button type="submit" id="butt" >Update changes</Button>
						</form>
					
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
</div>

		</body>
	</div>
</div>
<div class="main-content" id="likes" style="display:none">
	<!-- <div class="main2">
		<div class="font2">
			<div class="StudentDiv2"> -->
				<h2>Chat</h2>
					<!-- <form>
						<ul id="messages"></ul>
						  <input required class="input-field" id="messages" type="text" placeholder=" messages" autocomplete="off"/>
						  <button type="button">Send</button>
					  </form> -->

				<!--<img src="images/oru.png" style="max-width:50%;height:auto;"> -->
			</div>
		</div>
	</div>
</div>
<div class="main-content" id="Jobs" style="display:none">
	<div class="main">
		<div class="widget" id="JobsWidget">
			<div class="title">Available jobs</div>

			<form action="/hejhopmanstest" method="POST">
				<Button type="submit" id="buttondbtest">Update db</Button>
			</form>

			<% matchning.forEach(function(result) { %>		<!-- HÄR SKA DET KODAS SEN MOTHA FUCKA******************************************************************************************************************************************************************** -->					
				<div class="w3-container">
					<h5 class="w3-opacity">
					<b><%= result.Name %></b>
					</h5>
					<h6 class="w3-text">
					<i class="fa fa-calendar fa-fw w3-margin-right "id="blueP"></i>Mar 2012 - Dec 2014</h6>
					<p><%= result.Info %></p>
					<button class="changebtn"  style="width:auto;" onclick="document.getElementById('id02').style.display='block'">Change</button>
					<form action="delete_job" method="POST">
						<input hidden name="job_id" value= <%= result.ID %>></input>
						<button type="submit"style="width:auto;" class="removebtn">Remove</button>
					</form>
					<hr>
				</div>				
			<% }); %>

			
			<div class="Tinder">
				<div id="user">
					<p></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-content" id="Manual" style="display:none">
		<div class="main">
			<div class="widget">
				<div class="title">Available jobs</div>
				<div class="Tinder">
					<div id="user">
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!-- <footer class="w3-container w3-center w3-margin-top" id="BlackT">
	<p>Find me on social media.</p>
	<i class="fa fa-facebook-official w3-hover-opacity" id="blueP"></i>
	<i class="fa fa-instagram w3-hover-opacity"id="blueP"></i>
	<i class="fa fa-snapchat w3-hover-opacity"id="blueP"></i>
	<i class="fa fa-pinterest-p w3-hover-opaciidy"id="blueP"></i>
	<i class="fa fa-twitter w3-hover-opacity"id="blueP"></i>
	<i class="fa fa-linkedin w3-hover-opacity"id="blueP"></i>
	<p>Powered by Webbslingers</p>
	<hr>
</footer> -->
</html>
